@import url("https://fonts.google.com/specimen/Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.parent {
  font-size: 1.5rem;
  font-family: Poppins;
  padding-block: 3rem;
  font-weight: 400;
}

.summary {
  width: 80%;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 4.5rem;
}

.sum-head {
  margin-bottom: 1rem;
}
.sum-head > p {
  font-size: 2.3rem;
  font-weight: 200;
}
.sum-head h2 {
  font-size: 2.3rem;
}

.sum-text p {
  font-weight: 400;
}

h2,
h3 {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
}

p {
  color: hsl(212, 6%, 44%);
  line-height: 1.5;
  font-size: 1.5rem;
}

.divisions {
  width: 85%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 3rem;
}

img {
  width: 100%;
}

.box {
  border-radius: 1rem;
  padding: 2.5rem 3rem 4rem 3rem;
  box-shadow: 0.1rem 0.2rem 2rem hsl(210, 5%, 78%);
}

.cyan {
  border-top: 0.5rem solid hsl(180, 62%, 55%);
}

.red {
  border-top: 0.5rem solid hsl(0, 78%, 62%);
}

.orange {
  border-top: 0.5rem solid hsl(34, 97%, 64%);
}

.blue {
  border-top: 0.5rem solid hsl(212, 86%, 64%);
}

.box-sum {
  margin-bottom: 2.5rem;
}
.box-sum h3 {
  margin-bottom: 0.5rem;
}

.box-image {
  width: 4.5rem;
  margin-inline: auto 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 47rem) {
  .sum-head > p {
    font-size: 2.4rem;
  }
  .sum-head h2 {
    font-size: 2.4rem;
  }

  .summary {
    width: 40%;
  }

  .divisions {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 3rem;
  }

  .box.cyan {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .box.red {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .box.orange {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
  }

  .box.blue {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }
}
