@import url('https://fonts.google.com/specimen/Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.parent{
    font-size: 1.5rem;
    font-family: Poppins;
    padding-block: 3rem;
    font-weight: 400;

    @media (min-width:45rem) {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
}

.summary{
    width: 80%;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 4.5rem;

    @media (min-width:45rem) {
        width: 40%;
    }
}

.sum-head{
    margin-bottom: 1.5rem;
}
.sum-head > p{
    font-size: 2.3rem;
    font-weight: 200;
}
.sum-head h2{
    font-size: 2.3rem;
}

h2, h3{
    color: hsl(234, 12%, 34%);
    font-weight: 700;
}

p{
    color: hsl(212, 6%, 44%);
    line-height: 1.5;
}

.divisions{
    width: 85%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 3rem;

    @media (min-width:45rem) {
        width: 75%;
        position: relative;

    }
}

img{
    width: 100%;
}

.box{
    border-radius: 1rem;
    padding: 2.5rem 3rem 4rem 3rem;
    box-shadow: .1rem .2rem 2rem hsl(210, 5%, 78%);

    @media (min-width:45rem) {
        width: 40%;
        position: absolute;
        margin: 2rem;
    }
}

.cyan{
    border-top: .5rem solid hsl(180, 62%, 55%);

    @media (min-width:45rem) {
        left: 0;
    }
}

.red{
    border-top: .5rem solid hsl(0, 78%, 62%);

    @media (min-width:45rem) {
        top: 20%;
        left: 30%;
    }
}

.orange{
    border-top: .5rem solid hsl(34, 97%, 64%);

    @media (min-width:45rem) {
        bottom: 0;
        left: 30%;
    }
}

.blue{
    border-top: .5rem solid hsl(212, 86%, 64%);

    @media (min-width:45rem) {
        right: 0;
    }
}

.box-sum{
    margin-bottom: 2.5rem;
}
.box-sum h3{
    margin-bottom: .5rem;
}

.box-image{
    width: 4.5rem;
    margin-inline: auto 0;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }